body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:10px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --card-bg-color: #5f55d0;
  --color-white: white;
  --bg-header: rgb(41, 39, 39);
  --bg: #490AAC;
  --bg-white: #FFFFFF;
  --bg-hover: #1630c2a6;
  --gray: #8A8A8A;
}


ul,
li,
a {
  text-decoration: none;
  text-transform: none;
  list-style: none;
}

